#canvas {
    background: rgb(92,186,227);
    background: linear-gradient(0deg, rgba(92,186,227,1) 27%, rgba(163,234,247,1) 100%);
}

#replay {
    position: absolute;
    left: 525px;
    top: 285px;
    padding: 10px;
    font-family: sans-serif;
    background: none;
    color: black;
    font: bold 21px sans-serif;
    border-radius: 10px;
    border: black 2px dashed;
    display: none;
}